---
layout: default
---

<div class="home">

  <h1 class="page-heading">Latest Posts</h1>

  <ul class="post-list">
    {% for page in site.pages reversed %}
      {% if page.layout == "page" %}
      {% if forloop.index < 15 %}
      <li>
        <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
        <h4>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h4>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
