<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}">
<meta name="keywords" content="{{ page.keywords | join: ',' }}">
<title>{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/modern-business.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/lavish-bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/{{site.theme_file}}">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.image-gallery/3.1.0/css/bootstrap-image-gallery.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/blueimp-gallery/2.14.0/css/blueimp-gallery.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.navgoco.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/toc.js"></script>
<script src="{{site.baseurl}}/js/customscripts.js"></script>
<script src="//cdn.jsdelivr.net/blueimp-gallery/2.14.0/js/jquery.blueimp-gallery.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.image-gallery/3.1.0/js/bootstrap-image-gallery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/customstyles.css">
<link rel="shortcut icon" href="https://yclas.com/images/favicon.ico?v0.1" type="image/x-icon">

<!-- Facebook -->
<meta property="og:site_name" content="Yclas documentation">
{% if page.title %}
<meta property="og:title" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}">
<meta property="og:type" content="article">
<meta property="og:description" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}"/>
{% else %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}">
{% endif %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}
<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
{% if page.tags %}
<meta itemprop="keywords" content="{{ page.keywords | join: ',' }}" />
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.title }}" />
<meta name="twitter:title" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}" />
<meta name="twitter:image" content="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTIvBPlaM8Owj_mh0T36h81TF1S9LZQasE_SJEhwAihWPpR7WEUYMoOm5rR" />
<meta name="twitter:image:alt" content="{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }} | {{ site.site_title }}{% endif %}" />


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->







 