<!-- Content Row -->
<div class="row">
    <!-- Sidebar Column -->
    <div class="col-md-3 left-sidebar">

        <script>

            $(document).ready(function() {
                        // Initialize navgoco with default options
                        $("#mysidebar").navgoco({
                            caretHtml: '',
                            accordion: true,
                            openClass: 'active', // open
                            save: false, // leave false or nav highlighting doesn't work right
                            cookie: {
                                name: 'navgoco',
                                expires: false,
                                path: '/'
                        },
                        slide: {
                            duration: 400,
                            easing: 'swing'
                                }
                                });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

            });

        </script>


        {% include custom/conditions.html %}

        <p><a href="https://yclas.com/" target="_blank">
            <svg class="logo" viewBox="0 0 344 344" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M101.406,18.054 L172.8,151.059 L242.023,17.708 C220.704,8.035 197.029,2.65 172.093,2.65 L172.093,2.65 C146.863,2.65 122.92,8.166 101.406,18.054 L101.406,18.054 Z M152.493,340.417 C158.926,341.159 165.465,341.538 172.093,341.538 L172.093,341.538 C265.675,341.538 341.537,265.676 341.537,172.095 L341.537,172.095 C341.537,130.851 326.803,93.05 302.311,63.668 L302.311,63.668 L152.493,340.417 Z M2.65,172.095 C2.65,232.536 34.294,285.585 81.922,315.578 L81.922,315.578 L129.612,229.921 L39.707,66.326 C16.517,95.314 2.65,132.084 2.65,172.095 L2.65,172.095 Z" fill="#4A7CB0"></path>
                </g>
            </svg>
        </a></p>
        <ul id="mysidebar" class="nav">
            <!--
            <span class="siteTagline">{{site.sidebar_tagline}}</span>
            <span class="versionTagline">{{site.sidebar_version}}</span>
            -->

            {% for entry in sidebar %}
            {% for subcategory in entry.subcategories %}
            {% if subcategory.audience contains audience and subcategory.product contains product and subcategory.platform contains platform and subcategory.version contains version and subcategory.web != false %}
            {% if subcategory.title == 'Yclas Self-Hosted' %}
            <li class="self-hosted-sidebar">{{ subcategory.title }}</li>
            {% else %}
            <li><a href="#">{{ subcategory.title }}</a>
                <ul>
                    {% for item in subcategory.items %}
                    {% if item.audience contains audience and item.product contains product and item.platform contains platform and item.version contains version and item.web != false %}
                    {% if item.external_url %}
                    <li><a href="{{item.external_url}}" target="_blank">{{subcategory.title}}</a></li>
                    {% elsif page.url == item.url %}
                    <li class="active"><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
                    {% else %}
                    <li><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
                    {% endif %}

                    {% for thirdlevel in item.thirdlevel %}
                    {% if thirdlevel.audience contains audience and thirdlevel.product contains product and thirdlevel.platform contains platform and thirdlevel.version contains version and thirdlevel.web != false %}
                    <li class="thirdlevel"><a href="#">{{ thirdlevel.title }}</a>
                        <ul>
                            {% for deeplevel in thirdlevel.thirdlevelitems %}
                            {% if deeplevel.audience contains audience and deeplevel.product contains product and deeplevel.platform contains platform and deeplevel.version contains version and deeplevel.web != false %}
                            {% if deeplevel.external_url %}
                            <li><a href="{{deeplevel.external_url}}" target="_blank">{{deeplevel.title}}</a></li>
                            {% elsif page.url == deeplevel.url %}
                            <li class="active"><a href="{{deeplevel.url | replace: "/",""}}">{{deeplevel.title}}</a></li>
                            {% else %}
                            <li><a href="{{deeplevel.url | replace: "/",""}}">{{deeplevel.title}}</a></li>
                            {% endif %}

                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}


   <!-- if you aren't using the accordion, uncomment this block:

        <p class="external">
            <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
        </p>
    -->

    </div>
       <!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above.-->
    <script>$("li.active").parents('li').toggleClass("active");</script>
