<div class="text-box">
	<h2><span>Yclas Self-Hosted Pro:</span></h2>
	<ul style="list-style: none;">
		<li><i class="fa fa-check"></i> All Yclas Themes</li>
		<li><i class="fa fa-check"></i> We install it for you</li>
		<li><i class="fa fa-check"></i> 3 Months Pro Support</li>
		<li><i class="fa fa-check"></i> Mobile ready</li>
		<li><i class="fa fa-check"></i> Forever updates of all themes</li>
		<li><i class="fa fa-check"></i> All Yclas Features:
			<ul style="list-style: none;">
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="https://docs.yclas.com/setup-payment-gateways/" target="_blank">More payment gateways</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="https://docs.yclas.com/stripe/" target="_blank">Stripe connect</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/how-to-create-custom-fields/" target="_blank">Custom Fields for Advertisements</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/users-custom-fields/" target="_blank">Custom Fields for Users</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/w-to-login-using-social-auth-facebook-google-twitter/" target="_blank">Social Login</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/how-to-add-interactive-map" target="_blank">Interactive Map</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/membership-plans" target="_blank">Memberships</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="https://docs.yclas.com/api-documentation/" target="_blank">API enabled (needed for Android and iOS apps)</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="https://docs.yclas.com/set-infinite-ads/" target="_blank">Infinite scroll (only in some themes)</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> Advanced newsletter</li>
			</ul>
		</li>
	</ul>
</div>