<div class="text-box">
	<h2><span>All Premium Themes Include:</span></h2>
	<ul style="list-style: none;">
		<li><i class="fa fa-check"></i> 3 months Professional Support</li>
		<li><i class="fa fa-check"></i> Installation</li>
		<li><i class="fa fa-check"></i> 1 Domain lifetime license</li>
		<li><i class="fa fa-check"></i> Updates</li>
		<li><i class="fa fa-check"></i> Source Code</li>
		<li><i class="fa fa-check"></i> Premium Features:
			<ul style="list-style: none;">
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/how-to-create-custom-fields/" target="_blank">Custom Fields for Advertisements</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/users-custom-fields/" target="_blank">Custom Fields for Users</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/w-to-login-using-social-auth-facebook-google-twitter/" target="_blank">Social Login</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/how-to-add-interactive-map" target="_blank">Interactive Map</a></li>
				<li><i class="glyphicon glyphicon-arrow-right"></i> <a href="http://docs.yclas.com/membership-plans" target="_blank">Memberships</a></li>
			</ul>
		</li>
	</ul>
	<p><strong>Remember that you can get any theme you want with <a href="https://yclas.com/"> Yclas.com</a></strong>!</p>
</div>