<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body>
        
        {% include header.html %}
        
        <div class="container content">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    {{ content }}
                </div>
                {% include left_sidebar.html %}
            </div>
        </div>
        
        {% include footer.html %}
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
    </body>

</html>
