---
layout: default
---
<div class="post">
	<div class="post-header">
	   <h1 class="post-title-main">{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}</h1>
	</div>

	<article class="post-content">

	   {% if page.summary %}
	    <div class="summary">{{page.summary}}</div>
	   {% endif %}

	    <div class="clearfix">&nbsp;</div>
	    
	    {% include toc.html %}

	       {{content}}
	  
	</article>

</div>

<div class="tags">
    {% if page.tags != null %}
    <b>Tags: </b>
    {% include custom/conditions.html %}
    {% for tag in page.tags %}
    {% if projectTags contains tag %}

    <a href="//docs.yclas.com/tag-{{tag}}.html" class="btn btn-info navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>

<div class="clearfix">&nbsp;</div>
{% if site.github_editme_path %}
<a href="https://github.com/{{site.github_editme_path}}/blob/gh-pages/{{page.path}}" class="btn btn-default " role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>
{% endif %}
<div class="clearfix">&nbsp;</div>

<div class="col-md-5 pull-right">
  <div class="social-icons">
    <a href="http://twitter.com/openclassifieds" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://twitter.com/openclassifieds', '\n    \n  ']);" title="twitter" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="http://www.facebook.com/openclassifieds" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.facebook.com/openclassifieds', '\n    \n  ']);" title="facebook" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a href="http://github.com/open-classifieds/openclassifieds2" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://github.com/open-classifieds/openclassifieds2', '\n    \n  ']);" title="github" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
    <a href="http://www.linkedin.com/company/open-classifieds" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.linkedin.com/company/open-classifieds', '\n    \n  ']);" title="linkedin" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="http://plus.google.com/+Open-classifieds" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://plus.google.com/+Open-classifieds', '\n        \n    ']);" title="google-plus" target="_blank">
      <i class="fa fa-google-plus-square"></i>
    </a>
    <a href="http://www.youtube.com/user/OpenClassifieds" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.youtube.com/user/OpenClassifieds', '\n    \n  ']);" title="youtube" target="_blank">
      <i class="fa fa-youtube-square"></i>
    </a>
    <a href="http://open-classifieds.com/feed/" title="rss" target="_blank">
      <i class="fa fa-rss-square"></i>
    </a>
  </div>
</div>

{% include disqus.html %}

{{hr_shaded}}

{% include footer.html %}